h1{
    background: #f1eb06;
    color: #1a5ede;
}
h2{
    background: #f1eb06 ;
    color: #1a5ede;
}
p{
    background: #e7f1a0;
    color:black;
}
ul{
    background: #75816a;
    color: #f1eb06;
}
img{
    width: 300px;

}